<div *ngIf="showEdelweissBool">
  <div *ngFor="let tableEdelweissKaminStube of tablesEdelweissKaminStube; let j = index;">
    <div *ngIf="tablesEdelweissKaminStube[j] !== tablesEdelweissKaminStube[j+1]">
      <button style="float: right; margin: 20px 0px 20px 0px; background-color: #0a7a74; color: #FFFFFF" type="button" class="btn btn-send" (click)="occupy(tableEdelweissKaminStube, j)">{{tableEdelweissKaminStube.isBesetzt === 'true' ? 'FREI MACHEN' : ''}}</button>
      <h4><b> Tisch:</b>{{tableEdelweissKaminStube.number}} </h4><br>
      <div class='cards-container' id='containerEdelweissKaminStube' [ngStyle]="{'background-color': + tableEdelweissKaminStube.bgColor}">
        <div class="table" [ngStyle]="{'background-color': '#' + tableEdelweissKaminStube.bgColor}">
          <div *ngIf="tableEdelweissKaminStube.isBesetzt === 'true'">
            <p style="background-color: #FFFFFF; padding: 10px">
              <b> Name:</b> {{tableEdelweissKaminStube.nameValue}}<br>
              <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue}}<br>
              <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue}}<br>
              <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue}}<br>
              <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue}}<br>
              <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value}}<br>
              <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value}}<br>
              <b> Trace:</b> {{tableEdelweissKaminStube.trace}}<br>
              <b> Bemerkung:</b> {{tableEdelweissKaminStube.bemerkungValue}}<br>
            </p>
            <div *ngIf="tableEdelweissKaminStube.nameValue2">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue2}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue2}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue2}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue2}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue2}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value2}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value2}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace2}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue2}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue3">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue3}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue3}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue3}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue3}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue3}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value3}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value3}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace3}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue3}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue4">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue4}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue4}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue4}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue4}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue4}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value4}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value4}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace4}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue4}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue5">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue5}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue5}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue5}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue5}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue5}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value5}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value5}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace5}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue5}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue6">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue6}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue6}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue6}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue6}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue6}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value6}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value6}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace6}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue6}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue7">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue7}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue7}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue7}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue7}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue7}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value7}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value7}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace7}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue7}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue8">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue8}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue8}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue8}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue8}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue8}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value8}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value8}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace8}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue8}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue9">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue9}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue9}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue9}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue9}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue9}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value9}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value9}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace9}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue9}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue10">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue10}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue10}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue10}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue10}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue10}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value10}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value10}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace10}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue10}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue11">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue11}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue11}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue11}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue11}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue11}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value11}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value11}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace11}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue11}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue12">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue12}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue12}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue12}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue12}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue12}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value12}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value12}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace12}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue12}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue13">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue13}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue13}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue13}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue13}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue13}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value13}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value13}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace13}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue13}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue14">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue14}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue14}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue14}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue14}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue14}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value14}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value14}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace14}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue14}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.nameValue15">
              <p style="background-color: #FFFFFF; padding: 10px">
                <b> Name:</b> {{tableEdelweissKaminStube.nameValue15}}<br>
                <b> Zimmernummer:</b> {{tableEdelweissKaminStube.zimmernummerValue15}}<br>
                <b> Anreise Datum:</b> {{tableEdelweissKaminStube.anreiseValue15}}<br>
                <b> Abreise Datum:</b> {{tableEdelweissKaminStube.abreiseValue15}}<br>
                <b> Personenanzahl:</b> {{tableEdelweissKaminStube.personenAnzahlValue15}}<br>
                <b> Notiz1:</b> {{tableEdelweissKaminStube.notiz1Value15}}<br>
                <b> Notiz2:</b> {{tableEdelweissKaminStube.notiz2Value15}}<br>
                <b> Trace:</b> {{tableEdelweissKaminStube.trace15}}<br>
                <b> BemerkungValue:</b> {{tableEdelweissKaminStube.bemerkungValue15}}<br>
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.newTraceName">
              <p style="background-color: #FFFFFF; border: solid 3px red">
                <b> Zimmernummer: </b>{{tableEdelweissKaminStube.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{tableEdelweissKaminStube.newTraceText}} <br> <b> Tischnummer: </b>{{tableEdelweissKaminStube.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{tableEdelweissKaminStube.newTraceEmployee}} <br> <b> Name: </b>{{tableEdelweissKaminStube.newTraceName}} <br> <b> Datum: </b>{{tableEdelweissKaminStube.newTraceDate}}
              </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.newTraceName1">
              <p style="background-color: #FFFFFF; border: solid 3px red">
                <b> Zimmernummer: </b>{{tableEdelweissKaminStube.newTraceRoomNumber1}}<br> <b> Neuer Trace: </b>{{tableEdelweissKaminStube.newTraceText1}} <br> <b> Tischnummer: </b>{{tableEdelweissKaminStube.newTraceTableNumber1}} <br> <b> Mitarbeiter: </b>{{tableEdelweissKaminStube.newTraceEmployee1}} <br> <b> Name: </b>{{tableEdelweissKaminStube.newTraceName1}} <br> <b> Datum: </b>{{tableEdelweissKaminStube.newTraceDate1}}                            </p>
            </div>
            <div *ngIf="tableEdelweissKaminStube.newTraceName2">
              <p style="background-color: #FFFFFF; border: solid 3px red">
                <b> Zimmernummer: </b>{{tableEdelweissKaminStube.newTraceRoomNumber2}}<br> <b> Neuer Trace: </b>{{tableEdelweissKaminStube.newTraceText2}} <br> <b> Tischnummer: </b>{{tableEdelweissKaminStube.newTraceTableNumber2}} <br> <b> Mitarbeiter: </b>{{tableEdelweissKaminStube.newTraceEmployee2}} <br> <b> Name: </b>{{tableEdelweissKaminStube.newTraceName2}} <br> <b> Datum: </b>{{tableEdelweissKaminStube.newTraceDate2}}
              </p>
            </div>

          </div>
        </div>
        <div *ngIf="tableEdelweissKaminStube.placeholder === 'true'">
          <p [dragula]='"evented-bag"' id="EdelweissKaminStube" style="background-color: #9d9d9d; border: dashed 3px black; margin-top: 50px; opacity: 0.4; padding: 10px 10px 10px 10px">Listen-Element hier hin ziehen! {{tableEdelweissKaminStube.number}} {{tableEdelweissKaminStube.department}} {{j}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
