<app-erde [term]="term" [tablesErde]="tablesErde" [showErdeBool]="showErdeBool" (occupied)="occupied($event)"></app-erde>
<app-feuer [term]="term" [tablesFeuer]="tablesFeuer" [showFeuerBool]="showFeuerBool" (occupied)="occupied($event)"></app-feuer>
<app-luft [term]="term" [tablesLuft]="tablesLuft" [showLuftBool]="showLuftBool" (occupied)="occupied($event)"></app-luft>
<app-metall  [term]="term" [tablesMetall]="tablesMetall" [showMetallBool]="showMetallBool" (occupied)="occupied($event)"></app-metall>
<app-wasser [term]="term" [tablesWasser]="tablesWasser" [showWasserBool]="showWasserBool" (occupied)="occupied($event)"></app-wasser>
<app-alle [showAlleBool]="showAlleBool" [term]="term" [tables]="tables" [tablesErde]="tablesErde" [tablesWasser]="tablesWasser" [tablesMetall]="tablesMetall" [tablesLuft]="tablesLuft" [tablesFeuer]="tablesFeuer" [tablesTerasse]="tablesTerasse" [tablesTerrasseLuft]="tablesTerrasseLuft" (occupied)="occupied($event)"></app-alle>
