<div class="row4">
  <div class="col-md-2 col-xs-2" style="height: 50px; width: 20%;"  (click)="showBauernStubn()" [ngStyle]="{'background-color': '#' + buttonBgColor1}">
    <h6 [ngStyle]="{'color': '#' + fontColor1}">Bauernstube</h6>
  </div>
  <div class="col-md-2 col-xs-2"  style="height: 50px; width: 20%;" (click)="showBergler()" [ngStyle]="{'background-color': '#' + buttonBgColor2}">
    <h6 [ngStyle]="{'color': '#' + fontColor2}">Berglerstube<br>HUBERTUS Stube</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 50px; width: 20%;" (click)="showWaeldler()" [ngStyle]="{'background-color': '#' + buttonBgColor3}">
    <h6 [ngStyle]="{'color': '#' + fontColor3}">Wäldlerstube<br>Kristallstube</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 50px; width: 20%;" (click)="showEdelweiss()" [ngStyle]="{'background-color': '#' + buttonBgColor4}">
    <h6 [ngStyle]="{'color': '#' + fontColor4}">EDELWEISS<br>Kaminstube</h6>
  </div>
  <div class="col-md-2 col-xs-2" style="height: 50px; width: 20%;" (click)="showTeestube()" [ngStyle]="{'background-color': '#' + buttonBgColor5}">
    <h6 [ngStyle]="{'color': '#' + fontColor5}">TeeStube<br>Teelounge</h6>
  </div>
</div>
