<div *ngIf="showTablePlanBool">
  <div class="col-xs-12 printTwo">
    <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
      <div *ngIf="showMetallBool">
        <div *ngFor="let tableMetall of tablesMetall; let j = index;">
          <div dropdownToggle type="button" class="t{{tableMetall.number}} table-item" [ngStyle]="{'top': tableMetall.topValue + 'px', 'left': tableMetall.leftValue + 'px', 'background-color': + tableMetall.bgColor, 'height': + tableMetall.height + 'px', 'width': + tableMetall.width + 'px', 'border': + tableMetall.border}" [style.border]="getStyle(tablesMetall[j].groups)" dropdown>
            <div *ngIf="tablesMetall[j] !== tablesMetall[j+1]">
              <p><b>{{tableMetall.number}} <br>{{erwMetall[j]}}/{{kiMetall[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableMetall, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableMetall, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableMetall.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.name1Value">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.pinfo1Value)">
                          <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                          <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                          <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                          <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                          <b> Name 1:</b> {{group.name1Value}}<br>
                          <b> Info 1:</b> {{group.pinfo1Value}}<br>
                          <b> Info 2:</b> {{group.pinfo2Value}}<br>
                          <b> Info 3:</b> {{group.pinfo3Value}}<br>
                          <b> Kategorie:</b> {{group.kategorieValue}}<br>
                        </div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>s
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showErdeBool">
        <div *ngFor="let tableErde of tablesErde; let j = index;">
          <div dropdownToggle type="button" class="t{{tableErde.number}} table-item" [ngStyle]="{'top': tableErde.topValue + 'px', 'left': tableErde.leftValue + 'px', 'background-color': + tableErde.bgColor, 'height': + tableErde.height + 'px', 'width': + tableErde.width + 'px', 'border': + tableErde.border, 'border-radius': + tableErde.borderRadius, 'transform': + tableErde.transformValue}" [style.border]="getStyle(tablesErde[j].groups)" dropdown>
            <div *ngIf="tablesErde[j] !== tablesErde[j+1]">
              <p><b>{{tableErde.number}} <br>{{erwErde[j]}}/{{kiErde[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableErde, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableErde, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableErde.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.name1Value">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.pinfo1Value)">
                          <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                          <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                          <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                          <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                          <b> Name 1:</b> {{group.name1Value}}<br>
                          <b> Info 1:</b> {{group.pinfo1Value}}<br>
                          <b> Info 2:</b> {{group.pinfo2Value}}<br>
                          <b> Info 3:</b> {{group.pinfo3Value}}<br>
                          <b> Kategorie:</b> {{group.kategorieValue}}<br>
                        </div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showLuftBool">
        <div *ngFor="let tableLuft of tablesLuft; let j = index;">
          <div dropdownToggle type="button" class="t{{tableLuft.number}} table-item" [ngStyle]="{'top': tableLuft.topValue + 'px', 'left': tableLuft.leftValue + 'px', 'background-color': + tableLuft.bgColor, 'height': + tableLuft.height + 'px', 'width': + tableLuft.width + 'px', 'border': + tableLuft.border}" [style.border]="getStyle(tablesLuft[j].groups)" dropdown>
            <div *ngIf="tablesLuft[j] !== tablesLuft[j+1]">
              <p><b>{{tableLuft.number}} <br>{{erwLuft[j]}}/{{kiLuft[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableLuft, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableLuft, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableLuft.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.name1Value">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.pinfo1Value)">
                          <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                          <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                          <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                          <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                          <b> Name 1:</b> {{group.name1Value}}<br>
                          <b> Info 1:</b> {{group.pinfo1Value}}<br>
                          <b> Info 2:</b> {{group.pinfo2Value}}<br>
                          <b> Info 3:</b> {{group.pinfo3Value}}<br>
                          <b> Kategorie:</b> {{group.kategorieValue}}<br>
                        </div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showFeuerBool">
        <div *ngFor="let tableFeuer of tablesFeuer; let j = index;">
          <div dropdownToggle type="button" class="t{{tableFeuer.number}} table-item" [ngStyle]="{'top': tableFeuer.topValue + 'px', 'left': tableFeuer.leftValue + 'px', 'background-color': + tableFeuer.bgColor, 'height': + tableFeuer.height + 'px', 'width': + tableFeuer.width + 'px', 'border': + tableFeuer.border}" [style.border]="getStyle(tablesFeuer[j].groups)" dropdown>
            <div *ngIf="tablesFeuer[j] !== tablesFeuer[j+1]">
              <p><b>{{tableFeuer.number}} <br>{{erwFeuer[j]}}/{{kiFeuer[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableFeuer, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableFeuer, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableFeuer.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.name1Value">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.pinfo1Value)">
                          <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                          <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                          <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                          <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                          <b> Name 1:</b> {{group.name1Value}}<br>
                          <b> Info 1:</b> {{group.pinfo1Value}}<br>
                          <b> Info 2:</b> {{group.pinfo2Value}}<br>
                          <b> Info 3:</b> {{group.pinfo3Value}}<br>
                          <b> Kategorie:</b> {{group.kategorieValue}}<br>
                        </div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showWasserBool">
        <div *ngFor="let tableWasser of tablesWasser; let j = index;">
          <div dropdownToggle type="button" class="t{{tableWasser.number}} table-item" [ngStyle]="{'top': tableWasser.topValue + 'px', 'left': tableWasser.leftValue + 'px', 'background-color': + tableWasser.bgColor, 'height': + tableWasser.height + 'px', 'width': + tableWasser.width + 'px', 'border': + tableWasser.border}" [style.border]="getStyle(tablesWasser[j].groups)" dropdown>
            <div *ngIf="tablesWasser[j] !== tablesWasser[j+1]">
              <p><b>{{tableWasser.number}} <br>{{erwWasser[j]}}/{{kiWasser[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableWasser, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableWasser, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableWasser.groups">
                    <div *ngIf="group">
                      <div *ngIf="group.name1Value">
                        <div class="dropdown-item" [style.border]="getStyleTrace(group.pinfo1Value)">
                          <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                          <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                          <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                          <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                          <b> Name 1:</b> {{group.name1Value}}<br>
                          <b> Info 1:</b> {{group.pinfo1Value}}<br>
                          <b> Info 2:</b> {{group.pinfo2Value}}<br>
                          <b> Info 3:</b> {{group.pinfo3Value}}<br>
                          <b> Kategorie:</b> {{group.kategorieValue}}<br>
                        </div>
                        <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                      </div>
                      <div *ngIf="group.newTraceText">
                        <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                          <b> Zimmernummer: </b>{{group.newTraceRoomNumber}}<br> <b> Neuer Trace: </b>{{group.newTraceText}} <br> <b> Tischnummer: </b>{{group.newTraceTableNumber}} <br> <b> Mitarbeiter: </b>{{group.newTraceEmployee}} <br> <b> Name: </b>{{group.newTraceName}} <br> <b> Datum: </b>{{group.newTraceDate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showAlleBool">
        <br>
        <br>
        <br>
        <h1 style="color: white; margin-top: 200px">Perfekt um eine Suche zu starten ;-)</h1>
      </div>
    </div>
  </div>
</div>
