<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="<your-libs-directory>/object-assign.min.js"></script>

</head>
<body>
<div id="charge-error" class="alert alert-danger <% if ( !errMsg ) { %> hidden <% } %>">
  <%= errMsg  %>
</div>
<app-navigation [newInformationElements]="newInformationElements"
                [tablesOccupied]="tablesOccupied"
                (getTablesOccupied)="tablesOccupied = $event"
                (umsetzenExport)="umsetzenInfoVar = $event; umsetzen($event)"
                [tablesTempAbreise]="tablesTempAbreise"
                (abreisenExportExport)="abreiseTablePlusIndex = $event; abreisenRemoval($event)"
                (transformExport)="term = $event; transform($event)"
                (termExport)="term = $event"
                (reloadLists)="reloadLists($event)"
                (getTablesExport)="getTables($event)">
</app-navigation>
<div class="row">
  <div class="container-fluid">
   <flash-messages></flash-messages>
    <div class="col-xs-12 col-sm-8 col-lg-6 print-col">
      <app-departmentmenu
        [buttonBgColor1]="buttonBgColor1"
        [buttonBgColor2]="buttonBgColor2"
        [buttonBgColor3]="buttonBgColor3"
        [buttonBgColor4]="buttonBgColor4"
        [buttonBgColor5]="buttonBgColor5"
        [buttonBgColor6]="buttonBgColor6"
        [fontColor1]="fontColor1"
        [fontColor2]="fontColor2"
        [fontColor3]="fontColor3"
        [fontColor4]="fontColor4"
        [fontColor5]="fontColor5"
        [fontColor6]="fontColor6"
        [showErdeBool]="showErdeBool"
        [showMetallBool]="showMetallBool"
        [showFeuerBool]="showFeuerBool"
        [showLuftBool]="showLuftBool"
        [showWasserBool]="showWasserBool"
        [showAlleBool]="showAlleBool"
        (showErdeBoolChange)="showErdeBool=$event"
        (showMetallBoolChange)="showMetallBool=$event"
        (showFeuerBoolChange)="showFeuerBool=$event"
        (showLuftBoolChange)="showLuftBool=$event"
        (showWasserBoolChange)="showWasserBool=$event"
        (showAlleBoolChange)="showAlleBool=$event"
        [buttonBgColorInfoForm]="buttonBgColorInfoForm"
        [buttonBgColorNotizForm]="buttonBgColorNotizForm"
        [fontColorInfoForm]="fontColorInfoForm"
        [fontColorNotizForm]="fontColorNotizForm"
        [showNotizFormBool]="showNotizFormBool"
        [showInfoFormBool]="showInfoFormBool"
        (showInfoFormBoolChange)="showInfoFormBool=$event"
        (showNotizFormBoolChange)="showNotizFormBool=$event"
        (showTablePlanBoolChange)="showTablePlanBool=$event"
        [showTablePlanBool]="showTablePlanBool"
        [buttonBgColorShowTablePlan]="buttonBgColorShowTablePlan"
        [fontColorShowTablePlan]="fontColorShowTablePlan">
      </app-departmentmenu><flash-messages></flash-messages>
      <app-form [newInformationElements]="newInformationElements"
                [dateGenerated]="dateGenerated"
                [title]="title"
                [roomNumber]="roomNumber"
                [tableNumber]="tableNumber"
                [employee]="employee"
                [nameTraceInput]="nameTraceInput"
                [tablesErde]="tablesErde"
                [tablesMetall]="tablesMetall"
                [tablesFeuer]="tablesFeuer"
                [tablesWasser]="tablesWasser"
                [tablesLuft]="tablesLuft"
                [showNotizFormBool]="showNotizFormBool"
                [showInfoFormBool]="showInfoFormBool"
                [notizElements]="notizElements"
                (notizResponse)="notizElements=$event"
                [showErdeBool]="showErdeBool"
                [showMetallBool]="showMetallBool"
                [showFeuerBool]="showFeuerBool"
                [showLuftBool]="showLuftBool"
                [showWasserBool]="showWasserBool"
                [showAlleBool]="showAlleBool"
                (changeColorIfAnreiseExport)="changeBgColorIfAnreise($event)">
      </app-form>
      <app-tableplan [tablesErde]="tablesErde"
                     [tablesMetall]="tablesMetall"
                     [tablesFeuer]="tablesFeuer"
                     [tablesWasser]="tablesWasser"
                     [tablesLuft]="tablesLuft"
                     [showErdeBool]="showErdeBool"
                     [showMetallBool]="showMetallBool"
                     [showFeuerBool]="showFeuerBool"
                     [showLuftBool]="showLuftBool"
                     [showWasserBool]="showWasserBool"
                     [showAlleBool]="showAlleBool"
                     (movedErde)="tablesErde = $event"
                     (movedMetall)="tablesMetall = $event"
                     (movedFeuer)="tablesFeuer = $event"
                     (movedWasser)="tablesWasser = $event"
                     (movedLuft)="tablesLuft = $event"
                     [showTablePlanBool]="showTablePlanBool"
                     (changeBgColorIfAnreise)="changeBgColorIfAnreise($event)"
                     (exportErwMetall)="erwMetall = $event"
                     (exportKi1Metall)="ki1Metall = $event"
                     (exportKi2Metall)="ki2Metall = $event"
                     (exportKi3Metall)="ki3Metall = $event"
                     (exportKi4Metall)="ki4Metall = $event"
                     (exportErwErde)="erwErde = $event"
                     (exportKi1Erde)="ki1Erde = $event"
                     (exportKi2Erde)="ki2Erde = $event"
                     (exportKi3Erde)="ki3Erde = $event"
                     (exportKi4Erde)="ki4Erde = $event"
                     (exportErwFeuer)="erwFeuer = $event"
                     (exportKi1Feuer)="ki1Feuer = $event"
                     (exportKi2Feuer)="ki2Feuer = $event"
                     (exportKi3Feuer)="ki3Feuer = $event"
                     (exportKi4Feuer)="ki4Feuer = $event"
                     (exportErwWasser)="erwWasser = $event"
                     (exportKi1Wasser)="ki1Wasser = $event"
                     (exportKi2Wasser)="ki2Wasser = $event"
                     (exportKi3Wasser)="ki3Wasser = $event"
                     (exportKi4Wasser)="ki4Wasser = $event"
                     (exportErwLuft)="erwLuft = $event"
                     (exportKi1Luft)="ki1Luft = $event"
                     (exportKi2Luft)="ki2Luft = $event"
                     (exportKi3Luft)="ki3Luft = $event"
                     (exportKi4Luft)="ki4Luft = $event">
      </app-tableplan>
    </div>
    <div class="col-xs-12 col-lg-3 upload-col">
      <div class="outer-cards">
        <app-im-haus-liste [imHausListeElemente]="imHausListeElemente">
        </app-im-haus-liste>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3 table-col">
      <h3 >Tisch Übersicht</h3>
        <div class="inner-table" style="padding: 0px 0px 0px 0px;">
          <div class="row3">
            <div class='wrapper' id="wrapper">
              <app-departments  [tables]="tables"
                                [tablesErde]="tablesErde"
                                [tablesMetall]="tablesMetall"
                                [tablesFeuer]="tablesFeuer"
                                [tablesWasser]="tablesWasser"
                                [tablesLuft]="tablesLuft"
                                [showErdeBool]="showErdeBool"
                                [showMetallBool]="showMetallBool"
                                [showFeuerBool]="showFeuerBool"
                                [showLuftBool]="showLuftBool"
                                [showWasserBool]="showWasserBool"
                                (dispensedErde)="tablesErde=$event"
                                (dispensedMetall)="tablesMetall=$event"
                                (dispensedFeuer)="tablesFeuer=$event"
                                (dispensedWasser)="tablesWasser=$event"
                                (dispensedLuft)="tablesLuft=$event"
                                (infoAddedErde)="tablesErde=$event"
                                (infoAddedMetall)="tablesMetall=$event"
                                (infoAddedFeuer)="tablesFeuer=$event"
                                (infoAddedWasser)="tablesWasser=$event"
                                (infoAddedLuft)="tablesLuft=$event"
                                [term]="term"
                                [tablesTempAbreise]="tablesTempAbreise"
                                [showAlleBool]="showAlleBool"
                                (updateAzList)="updateAzList($event)"
                                (updateImHausListeElement)="updateImHausListeElement($event); table = $event;">
              </app-departments>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</body>
<app-print  [tables]="tables"
            [dateGeneratedListe]="dateGeneratedListe"
            [tablesErde]="tablesErde"
            [tablesMetall]="tablesMetall"
            [tablesFeuer]="tablesFeuer"
            [tablesWasser]="tablesWasser"
            [tablesLuft]="tablesLuft"
            [showErdeBool]="showErdeBool"
            [showMetallBool]="showMetallBool"
            [showFeuerBool]="showFeuerBool"
            [showLuftBool]="showLuftBool"
            [showWasserBool]="showWasserBool"
            (getTablesOccupied)="tablesOccupied = $event"
            (getTablesforAzListe)="tables = $event"
            [erwMetall]="erwMetall"
            [ki1Metall]="ki1Metall"
            [ki2Metall]="ki2Metall"
            [ki3Metall]="ki3Metall"
            [ki4Metall]="ki4Metall"
            [erwErde]="erwErde"
            [ki1Erde]="ki1Erde"
            [ki2Erde]="ki2Erde"
            [ki3Erde]="ki3Erde"
            [ki4Erde]="ki4Erde"
            [erwFeuer]="erwFeuer"
            [ki1Feuer]="ki1Feuer"
            [ki2Feuer]="ki2Feuer"
            [ki3Feuer]="ki3Feuer"
            [ki4Feuer]="ki4Feuer"
            [erwWasser]="erwWasser"
            [ki1Wasser]="ki1Wasser"
            [ki2Wasser]="ki2Wasser"
            [ki3Wasser]="ki3Wasser"
            [ki4Wasser]="ki4Wasser"
            [erwLuft]="erwLuft"
            [ki1Luft]="ki1Luft"
            [ki2Luft]="ki2Luft"
            [ki3Luft]="ki3Luft"
            [ki4Luft]="ki4Luft">
</app-print>
</html>


