<html>
<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="<your-libs-directory>/object-assign.min.js"></script>

</head>
<body>
<div id="charge-error" class="alert alert-danger <% if ( !errMsg ) { %> hidden <% } %>">
  <%= errMsg  %>
</div>
<app-navigation [newInformationElements]="newInformationElements"
                [tablesOccupied]="tablesOccupied"
                (getTablesOccupied)="tablesOccupied = $event"
                (umsetzenExport)="umsetzenInfoVar = $event; umsetzen($event)"
                [tablesTempAbreise]="tablesTempAbreise"
                (abreisenExport)="abreiseTablePlusIndex = $event; abreisenRemoval($event)"
                (transformExport)="term = $event; transform($event)"
                (termExport)="term = $event"
                (reloadLists)="reloadLists($event)">
</app-navigation>
<div class="row">
  <div class="container-fluid">
   <flash-messages></flash-messages>
    <div class="col-xs-12 col-sm-8 col-lg-6 print-col">
      <app-departmentmenu
        [buttonBgColor1]="buttonBgColor1"
        [buttonBgColor2]="buttonBgColor2"
        [buttonBgColor3]="buttonBgColor3"
        [buttonBgColor4]="buttonBgColor4"
        [buttonBgColor5]="buttonBgColor5"
        [buttonBgColor6]="buttonBgColor6"
        [fontColor1]="fontColor1"
        [fontColor2]="fontColor2"
        [fontColor3]="fontColor3"
        [fontColor4]="fontColor4"
        [fontColor5]="fontColor5"
        [fontColor6]="fontColor6"
        [showBauernStubnBool]="showBauernStubnBool"
        [showBerglerBool]="showBerglerBool"
        [showEdelweissBool]="showEdelweissBool"
        [showWaeldlerBool]="showWaeldlerBool"
        [showTeeStubeBool]="showTeeStubeBool"
        [showAlleBool]="showAlleBool"
        (showBauernStubnBoolChange)="showBauernStubnBool=$event"
        (showBerglerBoolChange)="showBerglerBool=$event"
        (showEdelweissBoolChange)="showEdelweissBool=$event"
        (showWaeldlerBoolChange)="showWaeldlerBool=$event"
        (showTeeStubeBoolChange)="showTeeStubeBool=$event"
        (showAlleBoolChange)="showAlleBool=$event"
        [buttonBgColorInfoForm]="buttonBgColorInfoForm"
        [buttonBgColorNotizForm]="buttonBgColorNotizForm"
        [fontColorInfoForm]="fontColorInfoForm"
        [fontColorNotizForm]="fontColorNotizForm"
        [showNotizFormBool]="showNotizFormBool"
        [showInfoFormBool]="showInfoFormBool"
        (showInfoFormBoolChange)="showInfoFormBool=$event"
        (showNotizFormBoolChange)="showNotizFormBool=$event"
        (showTablePlanBoolChange)="showTablePlanBool=$event"
        [showTablePlanBool]="showTablePlanBool"
        [buttonBgColorShowTablePlan]="buttonBgColorShowTablePlan"
        [fontColorShowTablePlan]="fontColorShowTablePlan">
      </app-departmentmenu><flash-messages></flash-messages>
      <app-form [newInformationElements]="newInformationElements"
                [dateGenerated]="dateGenerated"
                [title]="title"
                [roomNumber]="roomNumber"
                [tableNumber]="tableNumber"
                [employee]="employee"
                [nameTraceInput]="nameTraceInput"
                [tablesBauernstube]="tablesBauernstube"
                [tablesBerglerStubeHubertusStube]="tablesBerglerStubeHubertusStube"
                [tablesEdelweissKaminStube]="tablesEdelweissKaminStube"
                [tablesTeestubeTeelounge]="tablesTeestubeTeelounge"
                [tablesWaeldlerStubeKristallStube]="tablesWaeldlerStubeKristallStube"
                [showNotizFormBool]="showNotizFormBool"
                [showInfoFormBool]="showInfoFormBool"
                [notizElements]="notizElements"
                (notizResponse)="notizElements=$event"
                [showBauernStubnBool]="showBauernStubnBool"
                [showBerglerBool]="showBerglerBool"
                [showEdelweissBool]="showEdelweissBool"
                [showWaeldlerBool]="showWaeldlerBool"
                [showTeeStubeBool]="showTeeStubeBool"
                [showAlleBool]="showAlleBool">
      </app-form>
      <app-tableplan [tablesBauernstube]="tablesBauernstube"
                     [tablesBerglerStubeHubertusStube]="tablesBerglerStubeHubertusStube"
                     [tablesEdelweissKaminStube]="tablesEdelweissKaminStube"
                     [tablesTeestubeTeelounge]="tablesTeestubeTeelounge"
                     [tablesWaeldlerStubeKristallStube]="tablesWaeldlerStubeKristallStube"
                     [showBauernStubnBool]="showBauernStubnBool"
                     [showBerglerBool]="showBerglerBool"
                     [showEdelweissBool]="showEdelweissBool"
                     [showWaeldlerBool]="showWaeldlerBool"
                     [showTeeStubeBool]="showTeeStubeBool"
                     [showAlleBool]="showAlleBool"
                     (movedBauernstube)="tablesBauernstube = $event"
                     (movedBerglerStubeHubertusStube)="tablesBerglerStubeHubertusStube = $event"
                     (movedEdelweissKaminStube)="tablesEdelweissKaminStube = $event"
                     (movedTeestubeTeelounge)="tablesTeestubeTeelounge = $event"
                     (movedWaeldlerStubeKristallStube)="tablesWaeldlerStubeKristallStube = $event"
                     [showTablePlanBool]="showTablePlanBool"
                     (changeBgColorIfAnreise)="changeBgColorIfAnreise($event)"
                     (exportErwBerglerStubeHubertusStube)="erwBerglerStubeHubertusStube = $event"
                     (exportKiBerglerStubeHubertusStube)="kiBerglerStubeHubertusStube = $event"
                     (exportErwBauernstube)="erwBauernstube = $event"
                     (exportKiBauernstube)="kiBauernstube = $event"
                     (exportErwEdelweiss)="erwEdelweiss = $event"
                     (exportKiEdelweiss)="kiEdelweiss = $event"
                     (exportErwTeestubeTeelounge)="erwTeestubeTeelounge = $event"
                     (exportKiTeestubeTeelounge)="kiTeestubeTeelounge = $event"
                     (exportErwWaeldlerStubeKristallStube)="erwWaeldlerStubeKristallStube = $event"
                     (exportKiWaeldlerStubeKristallStube)="kiWaeldlerStubeKristallStube = $event">
      </app-tableplan>
    </div>
    <div class="col-xs-12 col-lg-3 upload-col">
      <div class="outer-cards">
        <app-im-haus-liste [imHausListeElemente]="imHausListeElemente">
        </app-im-haus-liste>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-lg-3 table-col">
      <h3 >Tisch Übersicht</h3>
        <div class="inner-table" style="padding: 0px 0px 0px 0px;">
          <div class="row3">
            <div class='wrapper' id="wrapper">
              <app-departments  [tables]="tables"
                                [tablesBauernstube]="tablesBauernstube"
                                [tablesBerglerStubeHubertusStube]="tablesBerglerStubeHubertusStube"
                                [tablesEdelweissKaminStube]="tablesEdelweissKaminStube"
                                [tablesTeestubeTeelounge]="tablesTeestubeTeelounge"
                                [tablesWaeldlerStubeKristallStube]="tablesWaeldlerStubeKristallStube"
                                [showBauernStubnBool]="showBauernStubnBool"
                                [showBerglerBool]="showBerglerBool"
                                [showEdelweissBool]="showEdelweissBool"
                                [showWaeldlerBool]="showWaeldlerBool"
                                [showTeeStubeBool]="showTeeStubeBool"
                                (dispensedBauernstube)="tablesBauernstube=$event"
                                (dispensedBerglerStubeHubertusStube)="tablesBerglerStubeHubertusStube=$event"
                                (dispensedEdelweissKaminStube)="tablesEdelweissKaminStube=$event"
                                (dispensedTeestubeTeelounge)="tablesTeestubeTeelounge=$event"
                                (dispensedWaeldlerStubeKristallStube)="tablesWaeldlerStubeKristallStube=$event"
                                (infoAddedBauernstube)="tablesBauernstube=$event"
                                (infoAddedBerglerStubeHubertusStube)="tablesBerglerStubeHubertusStube=$event"
                                (infoAddedEdelweissKaminStube)="tablesEdelweissKaminStube=$event"
                                (infoAddedTeestubeTeelounge)="tablesTeestubeTeelounge=$event"
                                (infoAddedWaeldlerStubeKristallStube)="tablesWaeldlerStubeKristallStube=$event"
                                [term]="term"
                                [tablesTempAbreise]="tablesTempAbreise"
                                [showAlleBool]="showAlleBool"
                                (updateAzList)="updateAzList($event)">
              </app-departments>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</body>
<app-print  [tables]="tables"
            [dateGeneratedListe]="dateGeneratedListe"
            [tablesBauernstube]="tablesBauernstube"
            [tablesBerglerStubeHubertusStube]="tablesBerglerStubeHubertusStube"
            [tablesEdelweissKaminStube]="tablesEdelweissKaminStube"
            [tablesTeestubeTeelounge]="tablesTeestubeTeelounge"
            [tablesWaeldlerStubeKristallStube]="tablesWaeldlerStubeKristallStube"
            [showBauernStubnBool]="showBauernStubnBool"
            [showBerglerBool]="showBerglerBool"
            [showEdelweissBool]="showEdelweissBool"
            [showWaeldlerBool]="showWaeldlerBool"
            [showTeeStubeBool]="showTeeStubeBool"
            (getTablesOccupied)="tablesOccupied = $event"
            (getTablesforAzListe)="tables = $event"
            [erwBerglerStubeHubertusStube]="erwBerglerStubeHubertusStube"
            [kiBerglerStubeHubertusStube]="kiBerglerStubeHubertusStube"
            [erwBauernstube]="erwBauernstube"
            [kiBauernstube]="kiBauernstube"
            [erwEdelweiss]="erwEdelweiss"
            [kiEdelweiss]="kiEdelweiss"
            [erwTeestubeTeelounge]="erwTeestubeTeelounge"
            [kiTeestubeTeelounge]="kiTeestubeTeelounge"
            [erwWaeldlerStubeKristallStube]="erwWaeldlerStubeKristallStube"
            [kiWaeldlerStubeKristallStube]="kiWaeldlerStubeKristallStube">
</app-print>
</html>


